body,h1,ul,li{
    margin: 0;
    padding: 0;
}
 
body{
    background:url(images/pattern.png);
    font-family: sans-serif;
}
 
 
#baslik{
    float: left;
    font-size: 1.2em;
    color: #ffff;
    text-decoration: none;
}
 
#menu{
    float: right;
    list-style: none;
    margin-top: 1em;
}
 
#menu li{
    float: left;
    
}
 
#menu li a{
    color: #011627;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
}
 
#menu a:hover{
    color: #ffff;
    background: #011627;
    border-radius: 15px;
}
 
.orta{
    margin-top: 15px;
    background: #ffff;
 
}
 
.orta-sol{
    float: left;
    width: 450px;
}
 
 
.orta-sag{
    float: left;
    margin: 15px;
    width: 470px;
    color: #011627;
}
 
.alt{
    background: #ffff;
    padding: 20px;
    text-align: center;
    color:#011627;
}
.alt a{
     color: #011627;
}
 
.temizle{
    clear: both;
}
