body,h1,ul,li{
    margin: 0;
    padding: 0;
}
 
body{
    background:url(images/pattern.png);
    font-family: sans-serif;
}
 
 
#baslik{
    float: left;
    font-size: 1.2em;
    color: #ffff;
    text-decoration: none;
}
 
#menu{
    float: right;
    list-style: none;
    margin-top: 1em;
}
 
#menu li{
    float: left;
    
}
 
#menu li a{
    color: #011627;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
}
 
#menu a:hover{
    color: #ffff;
    background: #011627;
    border-radius: 15px;
}
 
.orta{
    width: auto;
    margin-top: 0px;
    margin-bottom: 1000px;
    padding: auto;
    background: #ffff;
 
}
 
.footer{
    position:static;
    bottom: 0px;
    left: 500px;
    padding:15px;
    background: #ffff;
    text-align: center;
    color:#011627;
}
.footer a{
     color: #011627;
}
 
.temizle{
    clear: both;
}
